# 컴파일된 파일
*.class
*.jar
*.war
bin/
out/
target/

# IDE 설정 파일 (IntelliJ)
.idea/
*.iml
*.iws
*.ipr

# IDE 설정 파일 (Eclipse)
.eclipse/
.settings/
.classpath
.project

# IDE 설정 파일 (VSCode)
.vscode/

# 빌드 도구
build/
.gradle/
.maven/

# OS 생성 파일
.DS_Store
Thumbs.db

# 로그 파일
*.log

# 임시 파일
*.temp
*.tmp

# 의존성 폴더
node_modules/

# 환경 설정 파일
.env
.env.local

# 기타
.kotlin/
