# build (컴파일 결과물 및 빌드 도구)
out/
build/
target/
.gradle/
bin/

# IntelliJ (IDE 설정)
.idea/
!.idea/codeStyles/
!.idea/runConfigurations/
*.iml
*.iws
*.ipr

# VSCode
.vscode/

# OS
.DS_Store
Thumbs.db

# Kotlin
.kotlin/

# Java 가비지/임시 파일
*.log
*.temp
*.tmp